<?xml version="1.0" encoding="UTF-8" ?>
<!--一个MyBatis的映射文件，用于定义与数据库表House的交互操作-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--指定该映射文件对应的Mapper接口的命名空间-->
<mapper namespace="org.example.dao.HouseMapper">
    <!--定义了一个名为BaseResultMap的结果映射，用于将查询结果映射到org.example.model.House对象-->
    <resultMap id="BaseResultMap" type="org.example.model.House">
        <id column="id" property="id"></id>
        <result column="storey" property="storey"></result>
        <result column="numbers" property="numbers"></result>
        <result column="status" property="status"></result>
        <result column="intoDate" property="intoDate"></result>
        <result column="building_id" property="buildingId"></result>
        <result column="remarks" property="remarks"></result>
        <result column="area" property="area"></result>
    </resultMap>

    <!--定义了一个名为Base_Column_List的SQL片段，包含了表House的列名-->
    <sql id="Base_Column_List">
        id, storey, numbers, status, intoDate, building_id, remarks, area
    </sql>

    <!-- 定义了一个名为findHouseAll的查询语句，参数类型为String，结果类型为org.example.model.House -->
    <select id="findHouseAll" parameterType="string" resultType="org.example.model.House">
        select *
        from house
        <where>
            <if test="numbers!=null and numbers!=''">
                and numbers like '%${numbers}%'
            </if>
        </where>
    </select>

    <!-- 定义了一个名为queryHouseById的查询语句，参数类型为Integer，结果类型为org.example.model.House -->
    <select id="queryHouseById" resultType="org.example.model.House" parameterType="Integer">
        select *
        from house
        where id = #{houId}
    </select>

</mapper>